@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

.gradient {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb))
}

@layer components {
  /* This won't be included in your compiled CSS unless you actually use it */
  .cardItem {
    background-color: theme('colors.cardBG.DEFAULT');
    border-radius: theme('borderRadius.md');
    padding: theme('spacing.4');
    @apply transition-colors shadow-md shadow-white
  }

  .aside-button {
    @apply w-full block p-1 rounded-sm my-1 hover:bg-accent-300 transition-colors
  }

  .rover-button {
    @apply w-full rounded-sm mb-4 object-center object-cover aspect-square 
  }

  .sol-number-selector{
    background-color: transparent;
    @apply w-20 p-1 rounded-md border-2 border-accent-200
  }

  .mars-tooltip {
    @apply pointer-events-none absolute top-7 w-max opacity-0 transition-opacity bg-accent-300 py-1 px-2 rounded-md
  }

  .tooltip-btn {
    @apply hover:bg-accent rounded-md p-[0.15rem]
  }

  .tooltip-btn[aria-disabled="true"] {
    @apply pointer-events-none opacity-50 cursor-not-allowed select-none
  }
  .tooltip-btn[aria-disabled="true"] ~ .mars-tooltip {
    @apply opacity-0
  }
  .tooltip-btn:hover ~ .mars-tooltip {
    @apply opacity-100
  }

  .backdrop-gradient {
    background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 0%, rgb(255 255 255 / 0%) 0%, rgb(162, 162, 162,0) 33.33%, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%, rgb(0, 0, 0) 100%);
  }
}